<p>
  <%= label_tag("settings[custom_field_name]",
                l(:label_public_project_permission_custom_field_name)) %>
  <%= text_field_tag("settings[custom_field_name]",
                     settings.custom_field_name) %>
</p>
